<div *ngIf="message" 
     class="fixed bottom-4 inset-x-0 flex justify-center z-50 p-4 pointer-events-none"
     [ngClass]="{
       'opacity-100': message,
       'opacity-0': !message
     }">
  <div class="max-w-md w-full pointer-events-auto transition-all duration-300 transform"
       [ngClass]="{
         'translate-y-0 opacity-100': message,
         'translate-y-4 opacity-0': !message
       }">
    <div class="py-3 px-4 rounded-md shadow-lg border text-sm md:text-base"
         [class.bg-green-100]="messageType === 'success-message'"
         [class.text-green-800]="messageType === 'success-message'"
         [class.border-green-300]="messageType === 'success-message'"
         [class.bg-red-100]="messageType === 'error-message'"
         [class.text-red-800]="messageType === 'error-message'"
         [class.border-red-300]="messageType === 'error-message'">
      <div class="flex items-center justify-between">
        <div class="flex items-center flex-1">
          <svg *ngIf="messageType === 'success-message'" class="w-5 h-5 mr-2 flex-shrink-0 text-green-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
          </svg>
          <svg *ngIf="messageType === 'error-message'" class="w-5 h-5 mr-2 flex-shrink-0 text-red-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path>
          </svg>
          <span class="break-words">{{ message }}</span>
        </div>
        <button (click)="close()" class="ml-3 text-gray-500 hover:text-gray-700 focus:outline-none flex-shrink-0">
          <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
